<%- include('../partials/header.ejs', {title: "Write-ups"}); %> 

<main>
    <form action="/api/post/tags" method="POST">
        <input type="text" name="tag" id="tag">
        <input type="submit" value="Envoyer">
    </form>
<% /* %>
    <h1>Categories</h1>
    <ul>
    <% if (locals.categories) { %>
        <% categories.forEach(element => { %>
           <li><%= element.name %></li>
        <% }) %>
    <% } %>
    </ul>
    
    <h1>Tags</h1>
    <ul>
    <% if (locals.tags) { %>
        <% tags.forEach(element => { %>
           <li><%= element.name %></li>
        <% }) %>
    <% } %>
    </ul>
    <% */ %>
</main>

<%- include('../partials/footer.ejs'); %>