
<%- include('../partials/header.ejs', {title: "Write-ups"}); %> 

<main>
    <section>
        <h2>Login</h2>
        <hr/>
        <form method="post" id="login-form" action="/admin/login">
            <div id="input-div">
                <input type="password" name="key" id="key" placeholder="Enter login key" autocomplete="off">
                <i id="eye" class="fa-regular fa-eye"></i>
            </div>
            <% if (locals.error) { %>
                <% if (locals.error == "key") { %>
                    <p style="color:red">Bad connexion Key, <a style="text-decoration: underline;color:red;" href="/send-mail">forgot key ?</a></p>
                <% } %>
                <% if (locals.error == "mail") { %>
                    <p>Mail Sent !</p>
                <% } %>
                <% if (locals.error == "nomail") { %>
                    <p style="color: red;">Already sent a mail !</p>
                <% } %>
            <% } %>
            <input type="submit">
        </form>
    </section>

    <script>
        document.querySelector("#eye").addEventListener('click', (e) => {
            const eye = e.target
            eye.classList.toggle("fa-eye");
            eye.classList.toggle("fa-eye-slash");

            eye.parentNode.children[0].type == "password" ? eye.parentNode.children[0].type = "text" : eye.parentNode.children[0].type = "password";
        });
    </script>
</main>

<%- include('../partials/footer.ejs'); %>