<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Username - <%= title %> </title>
        
        <link rel="stylesheet" href="/static/style/style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <script defer src="/static/script/main.js"></script>
        <script src="/static/script/lightmode.js"></script>
</head>

<body>
    <div id="theme-toggler">
        <i class="fa-solid fa-sun"></i>
    </div>
    <header>
        <nav>
            <h1><a href="/home">/Username $ <span class="command"></a></span></h1>
            <ul>
                <a href="/home"><li data-command-text="cd home">~/home</li></a>
                <a href="/write-ups"><li data-command-text="cd write-ups">~/write-ups</li></a>
                <a href="/whoami"><li data-command-text="cd whoami">~/whoami</li></a>
                <a href="/admin"><li data-command-text="cd admin">~/admin</li></a>
            </ul>
            <i class="fa-solid fa-bars" id="burger-menu"></i>
        </nav>
        <nav id="mobile-nav">
            <i class="fa-solid fa-times" id="close-mobile-menu"></i>
            <ul>
                <a href="/home"><li>~/home</li></a>
                <a href="/write-ups"><li>~/write-ups</li></a>
                <a href="/whoami"><li>~/whoami</li></a>
                <a href="/admin"><li>~/admin</li></a>
            </ul>
        </nav>
    </header>
    