<%- include('../partials/header.ejs'); %> 

<main>
    <section>
        <h2>Write-ups</h2>
        <hr />
        <div class="accordion">
            <div class="item">
                <button>
                    <span>{WRITEUP CATEGORY}</span>
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
            <div class="content">
                <div class="inner">
                    <article>
                        <h3>WU Title</h3>
                        <small>04/01/2022</small>
                        <hr />
                        <p class="content">
                            Ipsum asperiores iste quo expedita est
                            voluptatum. Qui saepe tempore alias debitis
                            quis Adipisicing eaque explicabo delectus
                            eum consectetur, tempore?
                        </p>
                    </article>
                    <article>
                        <h3>WU Title</h3>
                        <small>04/01/2022</small>
                        <hr />
                        <p class="content">
                            Ipsum asperiores iste quo expedita est
                            voluptatum. Qui saepe tempore alias debitis
                            quis Adipisicing eaque explicabo delectus
                            eum consectetur, tempore?
                        </p>
                    </article>
                </div>
            </div>
        </div>
        <div class="accordion">
            <div class="item">
                <button>
                    <span>{WRITEUP CATEGORY}</span>
                    <i class="fa-solid fa-caret-right"></i>
                </button>
            </div>
            <div class="content">
                <article>
                    <h3>WU Title</h3>
                    <small>04/01/2022</small>
                    <hr />
                    <p class="content">
                        Ipsum asperiores iste quo expedita est
                        voluptatum. Qui saepe tempore alias debitis quis
                        Adipisicing eaque explicabo delectus eum
                        consectetur, tempore?
                    </p>
                </article>
                <article>
                    <h3>WU Title</h3>
                    <small>04/01/2022</small>
                    <hr />
                    <p class="content">
                        Ipsum asperiores iste quo expedita est
                        voluptatum. Qui saepe tempore alias debitis quis
                        Adipisicing eaque explicabo delectus eum
                        consectetur, tempore?
                    </p>
                </article>
            </div>
        </div>
    </section>
</main>

<%- include('../partials/footer.ejs'); %> 