@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --background-color: rgb(40,40,45);
    --secondary-color: rgb(30,30,35);
    --text-color: white;
    --page-width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu mono', monospace;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
*   Navigation Styling
*/

nav {
    background-color: var(--secondary-color);
    height: 4em;
}

#nav-container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
    width: var(--page-width);
}

#nav-container ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

#nav-container h1 {
    position: relative;
}

#nav-container h1::after {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    bottom: 2px;
    right: -20px;
    width: 10px;
    background-color: var(--text-color);
    animation: flashy_animation infinite 1s;
}

@keyframes flashy_animation {
    0% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}
}

/*
*   Footer styling
*/

footer {
    width: 100%;
    background-color: var(--secondary-color);
}

#footer-container {
    margin: auto;
    max-width: 75%;
    width: var(--page-width);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#footer-container ul {
    list-style: none;
}

#footer-container p {
    align-self:end;
}
