<%- include('./partials/header.ejs') %> 

<main>
    <div style="display:flex;justify-content:center;flex-direction:column;gap:30px;text-align:center;margin-top:50px;">
        <h1>404</h1>
        <h1>Page not found</h1>
    </div>
</main>

<%- include('./partials/footer.ejs') %> 