<%- include('./partials/header.ejs'); %> 

<main>
    <section class="nobackground" id="menu-profile">
        <img src="https://avatars.githubusercontent.com/u/82236839?v=4" alt="" />
        <div class="socials">
            <i data-command-text="ping discord" class="fab fa-discord"></i>
            <i data-command-text="ping github" class="fab fa-github"></i>
        </div>
    </section>
    <section>
        <h2>Latest news</h2>
        <hr />
        <article>
            <div class="content">
                <h3>Post title</h3>
                <small>26/10/2022</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit. Minus iste, quos nisi cumque iusto perferendis
                    id qui dolore hic doloremque numquam!
                </p>
            </div>
            <div class="tags">
                <ul>
                    <li><a href="#">Tag #1</a></li>
                    <li><a href="#">Tag #2</a></li>
                </ul>
            </div>
        </article>
        <article>
            <div class="content">
                <h3>Post title</h3>
                <small>26/10/2022</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing
                    elit. Minus iste, quos nisi cumque iusto perferendis
                    id qui dolore hic doloremque numquam!
                </p>
            </div>
            <div class="tags">
                <ul>
                    <li><a href="#">Tag #1</a></li>
                    <li><a href="#">Tag #2</a></li>
                </ul>
            </div>
        </article>
    </section>
    <section class="nobackground wrapper">
        <h2>Les coupains</h2>
        <hr />
        <div class="content">
            <img src="https://avatars.githubusercontent.com/u/90158435?v=4" alt="" />
            <img src="https://avatars.githubusercontent.com/u/82236839?v=4" alt="" />
        </div>
    </section>
</main>