<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/static/style/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="/static/script/main.js"></script>
</head>

<body>
    <header>
        <nav>
            <div id="nav-container">
                <h1><a href="/home">/Username $ <span class="command"></a></span></h1>
                <ul>
                    <li data-command-text="cd home"><a href="/home">~/home</a></li>
                    <li data-command-text="cd write-ups"><a href="/write-ups">~/write-ups</a></li>
                    <li data-command-text="cd whoami">~/whoami</li>
            </div>
        </nav>
    </header>